/*http://colorhunt.co/c/35469*/

*{
    color: #44A !important;
}
body {
    background-color: #E4FCF9 !important;
}

#app > nav{

    background-color: #ACE6F6 !important;
    text-transform: uppercase;

}

#app > nav > div{
    width: 100%;
}

body > div.container{
    width: 80%;
}

.active>a{
    background-color: #4B89AC !important;
}

.imgmascotas{
    max-height: 200px !important;
    max-width: 200px !important;
}

.imgcuenta{
    max-width: 50% !important;
    max-height: 50% !important;
}
#count{
    background: #4b89ac;
}
#invisible{
    display: none;
}
.facebook{
    border:none !important;
    overflow:hidden !important;
}

.textDeco{
    text-decoration: none !important;
}
.desc{
    min-height: 35px !important;
    margin-top: 10px !important;
}
.infoUsu{
    min-height: 30px !important;
    color: #2a88bd !important;
}