/*http://colorhunt.co/c/35469*/

/**{
    color: #44A !important;
}*/
body {
    background-color: #E4FCF9 !important;
}

#app > nav{

    background-color: #ACE6F6 !important;
    text-transform: uppercase;

}

#app > nav > div{
    width: 100%;
}

body > div.container{
    width: 80%;
}

.active>a{
    background-color: #4B89AC !important;
}

.imgmascotas{
    max-height: 200px !important;
    max-width: 200px !important;
}

.imgcuenta{
    max-width: 50% !important;
    max-height: 50% !important;
}
#count{
    background: #4b89ac;
}
.invisible{
    display: none;
}
.facebook{
    border:none !important;
    overflow:hidden !important;
}

.textDeco{
    text-decoration: none !important;
}
.desc{
    min-height: 35px !important;
    margin-top: 10px !important;
}
.infoUsu{
    min-height: 30px !important;
    color: #2a88bd !important;
}

body > div.container > div > div > div > div.panel-body > ul{
    margin-bottom: 15px;
}
#basic-addon2{
    padding: 0 !important;
    margin: 0 !important;
    border:none !important;
}

table{
    text-align: center;
}

.bntEnviar{
    margin-top: 15px !important;
}
.bntEnviarB{
    margin-bottom: 15px !important;
}

.macho{
    border: 1px solid lightskyblue;
}
.hembra{
    border: 1px solid lightpink;
}
.mascota{
    width: 17%;
    min-height: 200px;
    min-width: 250px;
    padding: 0 !important;
}

.img-responsive{
    margin:auto;
}

#btnMensaje{
    margin-bottom: 10px;
}

#logo{
    display: flex;
    align-items: center;
    margin: 7% 0px;
}

.btnColor{
    background-color: #4B89AC !important;
    border-color: #4B89AC !important;
}

#busqueda{
    width: 80px !important;
    display: inline;
}

.mascota {
    min-height: 250px !important;
}

body > div.container > div > ul{
    border: 3px solid #9BA2AB;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: #006df1;

}
body > div.container > div > ul > li{
    border-bottom: 3px solid #9BA2AB;



}
body > div.container > div > ul > li:nth-last-child(-n+1){
    border:none;
}

#publicaciones{
    border: 3px solid #9BA2AB;
    border-bottom: none;
    border-left: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
.publi{
    border-bottom: 3px solid #9BA2AB;
    border-left: 3px solid #9BA2AB;
}
.publi:not(:last-child){
    border:none;
}

li{
    list-style-type: none;
}
.chat{
    width:100%;
    text-align:center;
    display:flex;justify-content:center;align-items:center;
    margin: 10px 0px;
}


a div div span{
    font-size: x-large;
}
a:link{
    text-decoration: none;
}
@media(max-width: 1199px){
    .R{
        float: left;
    }
}
@media(max-width: 991px){
    .R{
        float: none;

    }
}
body > div.container > div > ul > li > a > div > div > span{
    color: #d4fffa;
}

body > div.container > div > ul > li > a{
    text-decoration: none;
}
#portada{
    margin: 0 auto;max-width: 500px;
}